<a href="https://colab.research.google.com/github/aria05roblox/kimia-skz/blob/main/Tugas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Struktur Dasar**

In [9]:
A = int(input('Hai: ')) # Ini input A
B = int(input('Hai: '))

A = A + B

print(A)
print(B)

Hai: 5
Hai: 3
8
3

In [24]:
a = 'B'
ord(a)

66

In [17]:
i = 100
a = i * 50
a

5000

In [31]:
A = 10

print(A)
print('Hello')
print(A * 4)
print("Hello World " + str(A))

10
Hello
40
Hello World 10

In [37]:
A : int
B : float
A = 5
B = 3.5
print(type(A))
print(type(B))
A + B

<class 'int'>
<class 'float'>

8.5

In [51]:
CA : str
CA = 'C' # (7)
print(type(CA))

<class 'str'>

In [52]:
a = 3
b = 2

print(a // b)
print(a / b)

1
1.5

In [53]:
# Deklarasi variabel
A = 10
B = 21

print("A =", A, "B =", B)

# Operator relasional
print("A == B :", A == B)   # sama dengan
print("A != B :", A != B)   # tidak sama dengan
print("A > B  :", A > B)    # lebih besar
print("A < B  :", A < B)    # lebih kecil
print("A >= B :", A >= B)   # lebih besar atau sama dengan
print("A <= B :", A <= B)   # lebih kecil atau sama dengan

A = 10 B = 21
A == B : False
A != B : True
A > B  : False
A < B  : True
A >= B : False
A <= B : True

In [54]:
a = True
b = False
a or b

True

In [57]:
a = 50
if a == 50:
  print('Halo')
else:
  print('Not 50')

Halo

In [58]:
a = 50
# TODO: Write Circle Formula
output = a * 3.14 * 2
print(output)

314.0

# **Tugas**

In [66]:
# @title Tugas 1
v = int(input("Masukan Kecepatan: "))
t = int(input("Masukan Waktu Tempuh: "))

s = v * t
print(f"Jarak yang dapat ditempuh sejauh {str(s)}")

Masukan Kecepatan: 50
Masukan Waktu Tempuh: 5
Jarak yang dapat ditempuh sejauh 250

In [67]:
# @title Tugas 2
Alas = int(input("Masukan Alas: "))
Tinggi = int(input("Masukan Tinggi: "))

Luas = 0.5 * Alas * Tinggi
print(f"Luas Segitiga adalah {str(Luas)}")

Masukan Alas: 5
Masukan Tinggi: 5
Luas Segitiga adalah 12.5

In [70]:
# @title Tugas 3
merah = int(input("Kelereng merah: "))
hijau = int(input("Kelereng hijau: "))
kuning = int(input("Kelereng kuning: "))

if merah < 0 or hijau < 0 or kuning < 0:
  print("Variable tidak boleh negatif")
else:
  merah *= 1000
  hijau *= 1500
  kuning *= 2000

  total = merah + hijau + kuning
  print(f"Total yang harus dibayar adalah {str(total)}")

Kelereng merah: 45
Kelereng hijau: 4
Kelereng kuning: -5
Variable tidak boleh negatif